
body{
    background-color: #2E3047;
    text-align: center;
    overflow: hidden;
}
.page-title{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #3BBA9C;
}

.start-container{
    height: 100%;
}

.start-tile{
    display: inline-block;
    margin: 10rem 50px;
    padding: 20px;
    border: 3px solid #707793;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    transition: .3s;
}

.start-tile:hover{
    background-color: #70779388;
    scale: 1.10;
    cursor: pointer;
}

.tile-image{
    width:100px;
    height: 100px;
    fill: white;
    color: white;
    margin-top: 2rem;
}

.tile-header{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#title-screen{
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in .05s;
    overflow: hidden;
    z-index: 99;
}

#title-screen.hide-left{
    transform: translate3d(-100vw, 0, 0)
}

.game-board.hide-right{
    transform: translate3d(100vw, 0, 0)
}

#wrapper{
    overflow: hidden;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}

.game-board{
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
    transform: translate3d(0vw,0,0);
    transition: transform .5s ease-out .05s;
}

.turn-indicator{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.game-grid{
    table-layout: fixed;
    width: 500px;
    height: 500px;
    margin: 5rem auto;
}

.game-grid tr{
    height: 150px;
    text-align:center;
    line-height: 150px;
}

.game-grid td:nth-child(2){
    border-left: 3px solid  #707793;
    border-right: 3px solid  #707793;
}

.game-grid td{
    color: #3BBA9C;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.second-row{
    border-bottom: 3px solid  #707793;
    border-top: 3px solid #707793;
}

.game-button-container{
    height: 200px;
}

.game-button-container button{
    border-radius: 50px;
    border: 2px solid  #707793;
    width: 200px;
    height: 50px;
    color: white;
    background-color: #2E3047;
    font-size: 1rem;
    transition: .3s;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top:10px;
    margin-bottom: 0px;
    font-weight: bold;
    z-index: 99;
}

.game-button-container button:hover{
    background-color: #70779388;
    cursor: pointer;
    scale: 1.10;
}

.game-grid td{
    color: #3BBA9C55;
}

.game-grid .selected{
    color: #3BBA9C;
}

.pop-up{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(0,0,0,.4);
    z-index: 9999;
}

.pop-up *{
    display: block;
    font-family: 'Roboto', sans-serif;
}

.pop-up form{
    margin: 25% auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    height: 100%;
    background-color: #2E3047;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4)
}
.pop-up label {
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.pop-up input {
    margin: auto;
    border: 2px solid #3BBA9C;
    outline: none;
    height: 30px;
    width: 300px;
    background-color: #3F4158;
    color: white;
    font-weight:bold;
    font-size: 15px;
    border-radius: 3px;
}

.modal-buttons *{
    display: inline-block;
}

.modal-buttons button{
    border-radius: 50px;
    border: 2px solid  #707793;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #2E3047;
    font-size: 1rem;
    transition: .3s;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0px;
    font-weight: bold;
    z-index: 99;
}

.modal-buttons button:hover{
    background-color: #70779388;
    cursor: pointer;
    scale: 1.10;
}
